#page{
background-image: url('../images/background.png'); 
width: 1200px; 
margin: 0 auto 0 auto;
border: 1px solid black;
}
/*#page div{
border: 1px solid black;
}*/
#cabecera, #home, #principal, #footer{
margin: 0 105px 0 105px;
}


div#cabecera img{
text-align: left;
float: left;
       padding-left: 26px;
}

#informacion {
font-family: MyriadPro Regular/*ZurichBT RomanCondensed*/;
text-align: right;
}

ul#submenu{
list-style-type: none;
text-transform: uppercase;
}

ul#submenu li{
display: inline;
text-align: right;
margin: 0 ex 0 ex;
padding: 0.5ex;
font-size: 13px;
}

ul#submenu a{
color: #00AA00;
text-decoration: none;
}

ul#submenu a:hover{
color: black;
}

span.numero{
font-size: 20px;
text-align: right;
}
span.texto{
font-size: 11px;
}

ul#menu{
background-image: url('../images/fondo_menu.png');
/*float: right;  aqui flota*/
text-transform : uppercase;
list-style-type: none;
height: 30px;
padding-top:10px;
border-radius: 8px;
}

ul#menu li{
display: inline;
}

ul#menu a{
font-family: "ZurichBT BoldCondensed", "Times New Roman";
font-size: 15px;
color: white;
text-decoration: none;
text-align: left;
margin-right: 28px;
}

ul#menu a:hover{
color: black;    
}
/* FIN DEL ENCABEZADO */

div#home{
text-align: left;
color: #31A431;
font-size: 12px;
padding-left: 25px;
padding-bottom: 7px;
}

/* INICIO DE PRINCIPAL */

div#principal{
background-color: white;
border-radius: 10px;
}

div#main{
padding: 17px 0 0 17px;
width:705px;
}

div#portfolio{
text-align: left;
background-image: url('../images/pantalla.png');
background-position: 70% 15% ;
background-repeat; no-repeat;
height: 265px;
width: 705px;
border-radius: 10px;
overflow: hidden;
}

#control{
float: right;
width: 235px; 
height: 265px;
text-align: left;
background-color: black;
opacity: 0.78;
color: white;
font-family: Arial;

}

#control h3,h2,p,img{

padding: 0 2ex 0 2ex;
}

#control p, #texto_reclamo p{
font-size: 12px;
}

#control a{
    text-decoration: none;
}

#control ul{
list-style-type: none;
}

#control ul li{
display: inline;
padding: 1.8ex;
font-size: 12px;
background-image: url('../images/shapes.png');
background-repeat: no-repeat;
background-position: 7px 9px;
}

#control ul li a{
color: white;
}

#control  a:hover{
background-image: url('../images/green_shape.png')background-image: url('../images/green_shapes.png');
}

div#reclamo {
font-family: Arial;
height: 93px;
}

div#texto_reclamo{
width: 490px;
text-align: left;
font-size: 12px;
}

.hipervinculo, #control h2{
color: #00AA00;
}

div#reclamo img{
width: 175px;
}

span#imagen_reclamo{
float: right;
margin-right: 5ex;
position: relative;
top: -30px;
}
