#page{
background-image: url('../images/background.png'); 
/*width: 1200px; */
border: 1px solid black;
margin: 0 auto 0 auto;
}

div#cabecera img{
text-align: left;
margin-left: 100px;
}

#informacion {
float: right;
font-family: MyriadPro Regular/*ZurichBT RomanCondensed*/;
text-align: right;
margin-right: 100px;
}

ul#submenu{
float: right;
list-style-type: none;
text-transform: uppercase;
}

ul#submenu li{
display: inline;
text-align: right;
margin: 0 ex 0 ex;
padding: 0.5ex;
font-size: 13px;
}

ul#submenu a{
color: #00AA00;
text-decoration: none;
}

ul#submenu a:hover{
color: black;
}

span.numero{
font-size: 20px;
text-align: right;
}
span.texto{
font-size: 11px;
}

ul#menu{
background-color: #00AA00;
/*float: right; misma cosa que la linea anterior solo que aqui flota*/
text-transform : uppercase;
list-style-type: none;
margin-left: 100px;
margin-right: 100px;
}

ul#menu li{
display: inline;
margin: 0 3ex 0 3ex; /* ex = tamaño de una x */
}

ul#menu a{
font-family: MyriadPro Regular;
color: white;
text-decoration: none;
}

ul#menu a:hover{
color: black;    
/*background-image: url('../images/ejem.png');*/

/* FIN DEL ENCABEZADO */




