#page{
background-image: url('../images/background.png'); 
/*width: 1200px; */
border: 1px solid black;
margin: 0 auto 0 auto;
}

div#cabecera img{
text-align: left;
margin-left: 100px;
}
#informacion{
float: right;
font-family: times new roman;
text-align: right;
margin-right: 100px;
}
p.texto{
font-size: 11px;
}

ul#menu{
background-color: #00AA00;
/*float: right; misma cosa que la linea anterior solo que aqui flota*/
text-transform : uppercase;
list-style-type: none;
}

ul#menu li{
display: inline;
margin: 0 3ex 0 3ex; /* ex = tamaño de una x */
}

ul#menu a{
color: white;
text-decoration: none;
}

ul#menu a:hover{
background-color: yellow;    
/*background-image: url('../images/ejem.png');*/


